<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <ul>
    <li>
      <a href="index">Home</a>
    </li>
    <li>
      <a href="new">New</a>
    </li>
    <li>
      <a href="photos">Robot Photos</a>
    </li>
    <li>
      <a href="lookup">Team Matches Lookup</a>
    </li>
    <li>
      <a href="side-by-side">Side by Side</a>
    </li>
    <li>
      <a href="overall">Overall</a>
    </li>
    <li>
      <a href="raw">Raw</a>
    </li>
    <li>
      <a href="teams">Teams</a>
    </li>
    <li>
      <a href="matches">Matches</a>
    </li>
    <li>
      <a href="users">Users</a>
    </li>
    <li>
      <a href="access">Access Tokens</a>
    </li>
    <li>
      <a href="expert-settings">Expert Scout Settings</a>
    </li>
    <li>
      <a href="event-settings">Event Settings</a>
    </li>
    <li>
      <a href="recalculate">Force Recalculate Analytics</a>
    </li>
  </ul>
</nav>
