<div class="row">
  <div class="col-xs-12">
    <p>Add new matches and alliances!</p>
    <label>Match number</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input type="number" class="form-control" #serverNameInput>
    <label>Alliance</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" class="form-control" #serverContentInput>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Red Alliance</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Blue Alliance</button>
    <br>
    <label>Auton Start Pos</label> <input type="text" class="form-control" #aStartPos>
    <br>
    <label>Gears Attempted</label> <input type="number" class="form-control" #aGearAttempt>
    <br>
    <label>Gears Scored</label> <input type="number" class="form-control" #aGearScore>
    <br>
    <label>High Goals Scored</label> <input type="number" class="form-control" #aHighGoal>
  </div>
</div>
